.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}


.navbar-header {
  text-align: center;
}
.navbar {
  text-align: center;
}




/* ==========================================================================
Body css
========================================================================== */
img {
  max-width:100%;
  max-height:100%;
}


body{
  padding: 30px;
}

/* ==========================================================================
Contact CSS
========================================================================== */

emailText{
  font-size: 66px;

}

div.email {
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  width: 100%;
  border-radius: 25px;
  text-align:center;

}

input {
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  width: 300px;
  border-radius: 25px;
}
